.navbar {
  height: 3rem;
  width: 100%;
  background-color: rgb(149, 142, 142);
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  color: rgb(255, 255, 255);
  font-family: Bradley Hand;
}
.nav-items-card {
  display: flex;
  align-items: center;
  color: white;
  gap: 1rem;
}
.input {
  height: 1.7rem;
  border-radius: 0.3rem;
  border-width: 0;
  padding-left: 0.2rem;
  outline: none;
}
.seacrh-btn {
  color: white;
  padding: 0.5rem 1rem;
  background-color: rgb(78, 76, 76);
  border-radius: 0.3rem;
  outline: none;
}

.link {
  color: white;
  text-decoration: none;
}

.input-with-suggestions{
  position: relative;
}

.input-with-suggestions > .suggestions{
  position: absolute;
  top: 30px;
  max-height: 200px;
  overflow-y: auto;
  display: grid;
  background-color: black;
  border-radius: 5px;
  color: white;
  row-gap: 5px;
  z-index: 1000;
  font-size: 12px;
  font-style: italic;
  padding: 5px 7px;
}

.suggestions::-webkit-scrollbar{
  display: none;
}

.suggestion{
  display: grid;
  grid-template-columns: 35px 1fr;
  gap: 5px;
  cursor: pointer;
}

.suggestion > img{
  width: 34px;
  height: 34px;
  object-fit: cover;
  border-radius: 2px;
}